.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  position: relative;
  background-color: #fff;
  width: 500px;
  /* height: 285px; */
  padding: 0 10px 10px;
}

.modalIcon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modalBtn:hover,
.modalBtn:focus {
  outline: none;
  fill: #7c41c5;
}
.modalBtn .modal_icon {
  fill: #7c41c5;
}

.ImageGalleryItemImage {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 5px;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(2, 2, 2);
}
.about {
  padding-left: 7px;
  padding-right: 7px;
}

.text {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.info {
  color: #000;
  font-size: 14;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}

.title {
  color: #000;
  padding-left: 15px;
}

/* ================ animations =========== */
.appear {
  opacity: 0;
  transform: scale(0.8);
}
.appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit {
  opacity: 1;
  transform: scale(1);
}
.exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
