table.iksweb {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
table.iksweb th {
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  background-color: #ed750c;
  cursor: pointer;
}
table.iksweb td {
  font-size: 14px;
  color: #ed750c;
}
table.iksweb td,
table.iksweb th {
  white-space: pre-wrap;
  padding: 15px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid #354251;
}
table.iksweb th:hover {
  background-color: #924705;
}
table.iksweb tr:hover {
  background-color: #f9fafb;
}
table.iksweb tr:hover td {
  color: #354251;
  cursor: default;
}
.table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
