.main {
  margin: 0 auto;
  width: 700px;
}

.watchListTitle {
  color: #ff6b08;
  margin-bottom: 30px;
  text-align: center;
}
.episodesTitle {
  color: #ff6b08;
  margin-bottom: 20px;
  text-align: center;
}
.episodesText {
  padding: 0 10px;
  text-align: center;
  color: #464b51;
}
