.container {
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffff78fa;
  width: 280px;
  min-height: 60px;
  border-radius: 5px;
}

.text {
  font-size: 16px;
  color: #000;
}
